@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: aquamarine;
}

#navitem {
  margin: 20px;
}
#search {
  margin: 20px;
  cursor: pointer;
}

#searchInput {
  border-radius: 5px;
}
