#Prevstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#Prev {
  width: calc(50%);
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

#divContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#InputDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10%;
}

#ainputdiv {
  margin: 10px;
}
