#input {
  margin: 10px;
  background-color: transparent;
  border-color: hsl(210, 50%, 40%);
  text-emphasis-color: #fcfbfc;
}

#button {
  margin: 10px;
  border-radius: 10px;
}

#div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

#login {
  display: flex;
  align-items: center;
}

p {
  display: flex;
}
