#input {
  margin: 10px;
}

#button {
  margin: 10px;
  border-radius: 10px;
}

#div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

#login {
  display: flex;
  align-items: center;
}

p {
  display: flex;
}
