#input {
  margin: 5px;
}

#button {
  margin: 5px;
}

#outer {
  display: flex;
  align-items: center;
}

#div {
  display: flex;
  align-items: center;
  vertical-align: middle;
  align-items: center;
}

p {
  margin: 5px;
}
