#input {
  margin: 5px;
}

#button {
  margin: 5px;
}

#outer {
  display: flex;
  align-items: center;
}

#div {
  display: flex;
  align-items: center;
  vertical-align: middle;
  align-items: center;
}

#personalInfoInput {
  margin: 5px;
  width: calc(50% - 10px);
}

#personalLongInput {
  margin: 5px;
  width: calc(100% - 10px);
}

#personalPasswordInput {
  margin: 5px;
  width: calc(100% - 10px);
}

#personalStyleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#addressInfoInput {
  margin: 5px;
  width: calc(100% - 10px);
}

#addressLongInput {
  margin: 5px;
  width: calc(100% - 10px);
}

#NextBackButtonDiv {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 50px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
